@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================================================================== */

html {
    @apply screen:bg-step-base;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    print-color-adjust: exact;
}

html,
body {
    @apply h-full;
}

/* ============================================================================================== */

@keyframes animate-opacity {
    0% {
        display: block;
        opacity: 50%;
    }
    40% {
        display: block;
        opacity: 100%;
    }
    60% {
        display: block;
        opacity: 100%;
    }
    100% {
        display: block;
        opacity: 50%;
    }
}
